<div class= "row">
    <div class = "col-md-4 col-md-offset-4">
        <div class="well">
            <%= form_for @NewFileChange do |f| %>
            <div class = "form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class : 'form-control'%>
            </div>
        <% end %>
    </div>
</div>